In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [2]:
#Main dataset 
anime_dataset = pd.DataFrame()

for f in range(139):
  # url of anime website
  url = 'https://zoro.to/completed?page={}'.format(f)

  # getting a webpage 
  webpage = requests.get(url).text

  # applying BeautifulSoup on webpage 
  soup = BeautifulSoup(webpage,'lxml')


  # anime image url list
  anime_img_url = []

  # anime name 
  anime_name = []

  # which one is available sub or dub
  sub_dub = []

  for i in soup.find_all('div',class_='flw-item'):

    # fetching dub or sub

    #checking if ltr class exist or not
    if i.find_all('div',class_='ltr'):
      for j in i.find_all('div',class_='ltr'):
        temp = []
        for k in j.find_all('div',class_='tick-dub'):
          temp.append(k.text)
        sub_dub.append(temp)

    # if ltr class does not exist then put SUB
    else: sub_dub.append('SUB')
    
    # getting name of the anime
    for j in i.find_all('a',class_='dynamic-name'):
      anime_name.append(j.text)
    
    # getting image url
    for j in i.find_all('img',class_='film-poster-img'):
      anime_img_url.append(j['data-src'])

  anime_dis = {'Anime_Name' : anime_name,'Anime_img_url': anime_img_url,'Sub_Dub':sub_dub}
  temp = pd.DataFrame(anime_dis)
  anime_dataset = pd.concat([anime_dataset,temp],ignore_index=True)

In [3]:
anime_dataset

,Anime_Name,Anime_img_url,Sub_Dub
0,Lupin Zero,https://img.zorores.com/_r/300x400/100/3a/20/3...,[SUB]
1,The Three-Body Problem,https://img.zorores.com/_r/300x400/100/c3/55/c...,[SUB]
2,One Piece Film: Red,https://img.zorores.com/_r/300x400/100/a1/e9/a...,"[SUB, DUB]"
3,Me & Roboco,https://img.zorores.com/_r/300x400/100/b3/6a/b...,[SUB]
4,Lookism,https://img.zorores.com/_r/300x400/100/36/f7/3...,"[SUB, DUB]"
...,...,...,...
5524,Legend of the Galactic Heroes,https://img.zorores.com/_r/300x400/100/83/08/8...,[SUB]
5525,Gintama Season 4,https://img.zorores.com/_r/300x400/100/a1/15/a...,[SUB]
5526,Steins;Gate,https://img.zorores.com/_r/300x400/100/68/35/6...,"[SUB, DUB]"
5527,Hunter x Hunter,https://img.zorores.com/_r/300x400/100/99/3c/9...,"[SUB, DUB]"
5528,Fullmetal Alchemist: Brotherhood,https://img.zorores.com/_r/300x400/100/0d/2d/0...,"[SUB, DUB]"

In [6]:
anime_df = pd.read_csv('../anime/anime.csv')

In [7]:
print(anime_df.shape)
anime_df.head()

(12294, 7)

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [10]:
rating_df = pd.read_csv('../anime/rating.csv')

In [11]:
print(rating_df.shape)
rating_df.head()

(7813737, 3)

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

In [12]:
df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [1, 2, 3, 5],
                   'temp' : [i ]})
df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [5, 6, 7, 8]})

In [20]:
df1.merge(df2,how='inner')

KeyError: 'lkey'

In [18]:
df1

  lkey  value
0  foo      1
1  bar      2
2  baz      3
3  foo      5

In [19]:
df2

  rkey  value
0  foo      5
1  bar      6
2  baz      7
3  foo      8