In [3]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [22]:
#Main dataset 
anime_dataset = pd.DataFrame()

for f in range(139):
  # url of anime website
  url = 'https://zoro.to/completed?page={}'.format(f)

  # getting a webpage 
  webpage = requests.get(url).text

  # applying BeautifulSoup on webpage 
  soup = BeautifulSoup(webpage,'lxml')


  # anime image url list
  anime_img_url = []

  # anime name 
  anime_name = []

  # which one is available sub or dub
  sub_dub = []

  for i in soup.find_all('div',class_='flw-item'):

    # fetching dub or sub

    #checking if ltr class exist or not
    if i.find_all('div',class_='ltr'):
      for j in i.find_all('div',class_='ltr'):
        temp = []
        for k in j.find_all('div',class_='tick-dub'):
          temp.append(k.text)
        sub_dub.append(temp)

    # if ltr class does not exist then put SUB
    else: sub_dub.append('SUB')
    
    # getting name of the anime
    for j in i.find_all('a',class_='dynamic-name'):
      anime_name.append(j.text)
    
    # getting image url
    for j in i.find_all('img',class_='film-poster-img'):
      anime_img_url.append(j['data-src'])

  anime_dis = {'Anime_Name' : anime_name,'Anime_img_url': anime_img_url,'Sub_Dub':sub_dub}
  temp = pd.DataFrame(anime_dis)
  anime_dataset = pd.concat([anime_dataset,temp],ignore_index=True)

In [24]:
anime_dataset.to_csv('orignal_zoro_to_dataset.csv')

In [25]:
anime_df = pd.read_csv('../anime/anime.csv')

In [26]:
print(anime_df.shape)
anime_df.head()

(12294, 7)

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [27]:
rating_df = pd.read_csv('../anime/rating.csv')

In [28]:
print(rating_df.shape)
rating_df.head()

(7813737, 3)

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

In [39]:
anime_dataset.rename(columns = {'Anime_Name':'name'},inplace=True)

In [31]:
orignal_zoro_to_df = pd.read_csv('orignal_zoro_to_dataset.csv')

In [33]:
orignal_zoro_to_df.drop_duplicates(inplace=True)

In [36]:
orignal_zoro_to_df.head()

,Unnamed: 0,Anime_Name,Anime_img_url,Sub_Dub
0,0,Lupin Zero,https://img.zorores.com/_r/300x400/100/3a/20/3...,['SUB']
1,1,The Three-Body Problem,https://img.zorores.com/_r/300x400/100/c3/55/c...,['SUB']
2,2,One Piece Film: Red,https://img.zorores.com/_r/300x400/100/a1/e9/a...,"['SUB', 'DUB']"
3,3,Me & Roboco,https://img.zorores.com/_r/300x400/100/b3/6a/b...,['SUB']
4,4,Lookism,https://img.zorores.com/_r/300x400/100/36/f7/3...,"['SUB', 'DUB']"

In [37]:
orignal_zoro_to_df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [46]:
orignal_zoro_to_df = orignal_zoro_to_df.rename(columns = {'Anime_Name':'name'})

In [68]:
new_df = pd.merge(anime_df,orignal_zoro_to_df,on='name',how='left')

In [69]:
new_df.head()

,anime_id,name,genre,type,episodes,rating,members,Anime_img_url,Sub_Dub
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,NaN,NaN
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665,https://img.zorores.com/_r/300x400/100/0d/2d/0...,"['SUB', 'DUB']"
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262,NaN,NaN
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572,https://img.zorores.com/_r/300x400/100/68/35/6...,"['SUB', 'DUB']"
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266,NaN,NaN

In [70]:
[new_df[i].isna().sum() for i in temp.columns]

[0, 0, 62, 25, 0, 230, 0, 10779, 10779]

In [111]:
new_df.sample(10)

,anime_id,name,genre,type,episodes,rating,members,Anime_img_url,Sub_Dub
1339,1686,Bleach Movie 1: Memories of Nobody,"Action, Adventure, Super Power",Movie,1,7.58,151598,NaN,NaN
9681,19745,Naniwa Yuukyouden: Chou Gokudou! Yoru no Bat w...,"Action, Comedy",OVA,1,7.29,72,NaN,NaN
6752,23551,Choboraunyopomi Gekijou Dai Ni Maku Ai Mai Mii...,"Comedy, Slice of Life",TV,12,5.95,6220,NaN,NaN
7633,30405,Ishindenshin Shiyou,"Kids, Music",Music,1,5.23,129,NaN,NaN
5056,28861,Takamiya Nasuno Desu!: Teekyuu Spin-off,"Comedy, Shounen",TV,12,6.57,8213,https://img.zorores.com/_r/300x400/100/f7/85/f...,['SUB']
1778,27957,Steins;Gate: Soumei Eichi no Cognitive Computing,Comedy,ONA,4,7.45,34426,https://img.zorores.com/_r/300x400/100/50/7b/5...,['SUB']
10263,2712,Shiratori Reiko de Gozaimasu!,"Comedy, Romance",OVA,1,5.44,158,NaN,NaN
7982,30559,Why,Dementia,Movie,1,4.40,139,NaN,NaN
4663,10886,Nurarihyon no Mago: Jump Super Anime Tour Special,"Action, Demons, Shounen, Sports, Supernatural",Special,1,6.67,4076,NaN,NaN
7574,31491,Hantsu x Trash,"Comedy, Ecchi, Romance, School, Seinen, Sports",OVA,3,5.29,6850,NaN,NaN

In [112]:
new_df.to_csv('final_dataset.csv')

In [113]:
pd.read_csv('final_dataset.csv')

,Unnamed: 0,anime_id,name,genre,type,episodes,rating,members,Anime_img_url,Sub_Dub
0,0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,NaN,NaN
1,1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665,https://img.zorores.com/_r/300x400/100/0d/2d/0...,"['SUB', 'DUB']"
2,2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262,NaN,NaN
3,3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572,https://img.zorores.com/_r/300x400/100/68/35/6...,"['SUB', 'DUB']"
4,4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
12303,12303,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211,NaN,NaN
12304,12304,5543,Under World,Hentai,OVA,1,4.28,183,NaN,NaN
12305,12305,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219,NaN,NaN
12306,12306,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175,NaN,NaN
12307,12307,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142,NaN,NaN